* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
  padding: 15px;
}

.trybewarts-header-logo {
  display: flex;
  width: 60px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  gap: 8px;
}

.input-email,.input-password {
  height: 40px;
  border-radius: 8px;
  border: none;
  padding: 5px;
  font-size: 16px;
}

#btn-login {
 height: 40px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

.trybewarts-login button {
  padding: 10px 50px;
}

#trybewarts-header-title {
  font-size: 35px;
  align-self: center;
  color: white;
}

#evaluation-form {
  display: flex;
  width: 675px;
}
